"Rapha\303\253l \302\267 Animation.html"
"Rapha\303\253l \302\267 Animation_files/"
aquatic.jpg
bird-variation.svg
bird.jpg
bird2.jpg
bird3.jpg
bird4.jpg
bird5.jpg
bird6.jpg
birds.jpg
crystal-pos2.jpg
crystals.jpg
crystals.png
discarded pictures.svg
horns.jpg
images.svg
microbes.svg
microbes1.jpg
microbes2.jpg
microbes3.jpg
microbes4.jpg
microbes7.jpg
microbes8.jpg
microbes9.png
stimuli.html~
svg-manip.py
test.svg
tree -ariation.svg
tree-interpolation.svg
tree1.jpg
tree2.jpg
tree3.jpg
tree4.jpg
trees.svg
Stimuli.zip
tree.svg
Raphaël · Animation*
birds.svg
bug.jpg
bug.png
bug.svg
microbe.svg
monster.png
monster.svg
monsterEndpoints.svg
stimuli_files/.~lock.monster.csv#
stimuli_files/erintools.js
stimuli_files/monster.csv
stimuli_files/monster.ods
test.html
tree.svg.2013_07_01_10_36_55.0.svg

